.issue-summary {
    font-family: "tahoma" !important;
    font-size: 20px !important;
}

.wiki {
    font-family: "tahoma" !important;
    font-size: 18px !important;
}

body{
	font-family: "tahoma" !important;
}
